 
body {
	font-family: 'Montserrat', Arial, sans-serif;
    width: 1440px;
}
span {
    font-weight: bold;

}

header {
	color: #afc67b;
	text-transform: uppercase;
	background: url(img/pag.jpg);
}

header a  {
	color: #afc67b;
}
a {
    text-decoration: none; 
}

nav a  {
	font-size: 35px;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	display: inline-block;
	 margin: 10px;
}

p {
	font-size: 56px; 
	margin-top: 118px;
	margin-bottom: 118px;

}

span {
	font-size: 78px;
	font-weight: bold;
}
 
.more-text {
    font-size: 49px;
    background: rgba(93, 105, 66, 0.5);
    padding: 27px;
}

.content {
	width: 760px;
    margin-left: auto;
}

.content2 {
	width: 760px;
	margin-left: 200px;

}

